# Python
*.pyc
__pycache__/

# Django
*.log
*.pot
*.py[cod]
*.swp
.env
staticfiles/

# MySQL (ignore DB dumps)
*.sql
*.mysql

# Virtual environments
venv/
env/

# Node
node_modules/

# IDEs
.vscode/
.idea/
#igonre db.sqlite3
db.sqlite3


**/migrations/
